<!-- mini_fb/templates/base.html This is base page which others will inherit from-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini FB</title>
    <link rel="stylesheet" href="/static/mini_fb.css" />
</head>
<body>

    <header>
  
            Welcome to Mini FB
     
    </header>



        {% block content %}
        {% endblock %}

    <footer>
          All rights reserved. Mini FB 2024 by Adi Bhan
    </footer>

    <script src="" async defer></script>
</body>
</html>
